# Python Basics

### Python Data types and print()

In [7]:
str = "AI"
integer = 39
float = 6.6

print(str)
print(integer)
print(float)

AI
39
6.6

### input() & type()

In [8]:
name = input("Enter your name ")
type(name)

Enter your name walim

str

In [9]:
integer = int(input("Enter a number "))
type(integer)

Enter a number 1

int

### Basic Arithmatic Functions on integer

In [1]:
a = int(input("Enter a number for a "))
b = float(input("Enter a number for b "))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

Enter a number for a 2
Enter a number for b 2.2
4.2
-0.20000000000000018
4.4
0.9090909090909091

### Conditional Statement *if-else*

In [2]:
name = input("Enter your name ")
age = int(input("Enter your age "))
if age > 20:
    print("You is not eligible")
else:
    print('You are eligible')

Enter your name Wali Muhammad
Enter your age 19
You are eligible

### Conditional Statement *if-elif*

In [3]:
marks = int(input("Enter your marks "))

if marks > 90:
    print("A+ Grade")
elif marks > 80:
    print("A Grade")
elif marks > 70:
    print("B Grade")    
elif marks > 60:
    print("C Grade")
elif marks > 50:
    print("D Grade")
elif marks < 50:
    print("F Grade")

Enter your marks 76
B Grade

### Loops *for loop*

In [4]:
for i in range(20):
    if i%2 == 0:
        print("Even number ",i)

Even number  0
Even number  2
Even number  4
Even number  6
Even number  8
Even number  10
Even number  12
Even number  14
Even number  16
Even number  18

### *for* Loop with *if* statement

In [5]:
string = input("Enter any string ")
character = input("Enter any character ")
num = 0
for s in string:
    if (s == character):
        num+=1
    
print("This character appears ", num, " times")

Enter any string Rebellion
Enter any character l
This character appears  2  times